<div class="row mx-1 my-3">
  <div class="col-12">
    <form [formGroup]="listYourVehicleForm" (ngSubmit)="listYourVehicle()">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="location" name="location" placeholder="Search Location" autocorrect="off" autocapitalize="off"
          spellcheck="off" type="text" #search>
      </div>
      <div class="form-group">
        <input class="form-control" type="date" formControlName="date" name="date" placeholder="Start date" required>
      </div>
      <div class="form-group">
        <button type="submit" class="submit-btn btn btn-primary">List your vehicle</button>
      </div>
    </form>
  </div>
</div>