<div class="row mx-1 my-3">
  <div class="col-12">
    <form>
      <!-- <div class="form-group">
        <input [(ngModel)]="location" class="form-control" placeholder="location" name="location" >
      </div> -->

      <input type="text" class="form-control" placeholder="Search Location"
      autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>

      <div class="form-group">
        <input [(ngModel)]="date" class="form-control" placeholder="date" name="date">
      </div>
      <div class="form-group">
        <input [(ngModel)]="price" class="form-control" placeholder="price" name="price">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-dark" (click)="listYourVehicle()">Register</button>
      </div>
    </form>
  </div>
</div>