<form>
  <div class="form-row align-items-center">
    <div class="form-group col-auto">
      <input type="text" class="form-control" placeholder="Search Location" autocorrect="off" autocapitalize="off"
        spellcheck="off" type="text" #search>
    </div>
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div class="col-auto">
      <button type="button" class="btn btn-secondary mb-2" (click)="searchVehicles()">Submit</button>
    </div>
  </div>
</form>