.example-card {
  max-width: 300px;
  float: left;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}