<div class="card float-left mx-3" style="width: 18rem;">
  <img src="../../../assets/kawasaki.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ vehicle.location }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a (click)="updateFavoriteList()" class="card-link" role="button">{{ favorite }}</a>
    <a (click)="goToVehicleProfile()" class="card-link" role="button">More details</a>
  </div>
</div>