<div class="col mb-4">
  <div class="card">
    <div style="transform: rotate(0);">
      <img src="../../../assets/kawasaki.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ vehicle._id }}</h5>
        <a (click)="goToVehicleProfile()" role="button" class="stretched-link">Info about the vehicle</a>
      </div>
    </div>
    <div *ngIf="onMap" class="card-footer">
      <a (click)="updateFavoriteList()" class="card-link" role="button"
        style="position: relative;">{{ favorite }}</a>
    </div>
  </div>
</div>