@media only screen and (max-width: 768px) {
  .booking-form {
    margin: 15px !important;
    background-color: lightblue;
  }
	/* .section .section-center {
		position: absolute;
		top: 70%;
		left: 0;
		right: 0;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	} */
}

 .section {
	position: relative;
  height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
  background-image: url("../../../assets/img/bg-masthead.jpg");
	background-size: cover;
	background-position: center;
}

#booking::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.15);
}

.booking-form {
	background: #fff;
  border-radius: 2px;
}

.booking-form>form .row.no-margin {
	margin-right: 0px;
	margin-left: 0px;
}

.booking-form>form .row.no-margin>[class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}

.booking-form .form-group {
	position: relative;
	padding: 10px;
	margin-bottom: 0px;
}

/* les tiraits entres les inputs */
.booking-form .form-group:after {
	content: '';
	background: rgba(129, 131, 144, 0.15);
	position: absolute;
	top: 10px;
	bottom: 0;
	right: 0px;
	width: 2px;
	height: 55px;
}

/* inputs */
.booking-form .form-control {
	background-color: transparent;
  border-radius: 0px;
	border: none;
	height: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 20px;
	color: #222;
	font-weight: 400;
	padding: 0;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #818390;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #818390;
}

.booking-form .form-control::placeholder {
	color: #818390;
}

.booking-form input[type="date"].form-control:invalid {
	color: #818390;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form .form-label {
	/* color: #ff0063; */
	color: #222;
	display: block;
	font-weight: 600;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
}

.booking-form .form-btn {
	padding: 10px;
}

.booking-form .submit-btn {
	background: #2466d6;
	color: #fff;
	border: none;
	text-transform: capitalize;
	display: block;
	border-radius: 4px;
	width: 100%;
	height: 55px;
	font-size: 30px;
	/* font-weight: 400; */
}

.text-content{
  text-align: center;
}