<div class="container-fluid">
  <div class="row">

    <div class="col-md-7">
      <div class="vehicles-list">
        <div class="row row-cols-1 row-cols-md-2">
          <div *ngFor="let v of vehicleList">
            <app-vehicle-card [vehicle]="v" [onMap]="true"></app-vehicle-card>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="zoom">
        <!-- (centerChange)='onClick($event)'> -->
        <agm-marker [latitude]="location.latitude" [longitude]="location.longitude" [zIndex]="0">
          <agm-info-window>
            <h3>YOU</h3>
            <p>YOU'RE HERE</p>
          </agm-info-window>
        </agm-marker>

        <agm-marker *ngFor="let v of vehicleList" [latitude]="v.location.latitude" [longitude]="v.location.longitude"
          [iconUrl]="'http://labs.google.com/ridefinder/images/mm_20_purple.png'">
          <agm-info-window>
            <h3>{{ v._id }}</h3>
            <p>{{ v.location.latitude }} : {{ v.location.longitude }}</p>
            <app-vehicle-card [vehicle]="v" [onMap]="false"></app-vehicle-card>
          </agm-info-window>
        </agm-marker>

      </agm-map>
    </div>

  </div>
</div>